

.main-content {
  flex: 1;
  padding: 20px;
}

.chart-item {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;
}

.export-buttons {
  margin-top: 20px;
}



.filters {
  margin-bottom: 20px;
}



.export-buttons {
  margin-bottom: 20px;
}

.export-buttons button {
  margin-right: 10px;
}

.ChartsPage {
  text-align: center;
}

.chart {
  flex: 1 1 30%;
  max-width: 30%;
  min-width: 300px;
}

.Dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summary {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}

.top-employees-container {
  margin-top: 30px;
}

.top-employees-list {
  list-style: none;
  padding: 0;
}

.top-employee-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.employee-name {
  font-weight: bold;
}

.employee-total {
  color: #555;
}

.chart-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.chart-container {
 
 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-bottom: 20px;
}
